.search-bar__input {
    width: 100%;
    padding: 1em 1.5em;
    margin: 1em 0;
    border-radius: 2px;
    border: none;
    font-family: "Orbitron", sans-serif;
    box-sizing: border-box;
}

.search-bar__input:focus {
    border: 1px solid #ff17458a;
    box-shadow: 0 0 4px #ff1744;
    outline: none;
}

.search-bar__filters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: .5em;
    margin-bottom: 1em;
    border-radius: 2px;
}

.search-bar__filters label {
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: 700;
}

.search-bar__filters input[type="checkbox"] {
    accent-color: #ff1744;
}